/* General Styles */

body {
  background-color: rgb(217, 183, 183); /* Fallback color */
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%; /* Twice the width to create space for the animation */
  animation: shimmer 26s infinite linear;
  font-family: "Omnes", sans-serif;
}

h1 {
  font-size: 70px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
}

html {
  cursor: url("cursor32x32.png"), auto;
}

/* --------------------------------------------------------------------------------------- */

/* Layout */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------------------------------------------------------- */

/* Components */

.square {
  width: 100px;
  height: 100px;
  transition: background-color 0.3s ease;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: auto(4, 100px);
  gap: 2.5px;
}

/*how to hide the default button and not lose functionality of both buttons */
button {
  appearance: none;
  border: none;
  padding: 0;
}

.button {
  padding: 12px 24px; /*length by width of button container */
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  background-color: #553c9a;
  border-radius: 4px; /*rounds out the button edges*/
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, 
  border-color 0.3s ease; /* transition of color when hovering over button */
}

.button:hover {
  cursor: url("click.png"), auto;
  background-color: #2980b9;
  color: #ffffff;
  border-color: #2980b9;
}

/* --------------------------------------------------------------------------------------- */

/* Animations */

@keyframes shimmer {
  0% {
    background-position: -200% 0; /* Start position of the gradient */
  }
  100% {
    background-position: 200% 0; /* End position of the gradient */
  }
}

.spin {
  animation: spin 0.5s linear forwards;
}

@keyframes spin {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

/* --------------------------------------------------------------------------------------- */

/* Footer */

.footerContent {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 10px;
  font-size: 5%;
  opacity: 60%;
}

.footerContent img {
  width: 80px;
  height: auto;
  margin-bottom: -15px;
  opacity: 60%;
}
